body {
  background-color: black;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}
